:root {
    --font-family-primary: "Ubuntu", sans-serif;
    /* font size */
    --fs-sm: 18px;
    --fs-md: 64px;
    --fs-lg: 75px;
    /* colors */
    --color-white: white;
    --color-black: black;
    --color-brown: #7D655B;
    --bg-roebuck: #A68272;
    --color-tiny-calf: #DFBCA6;
    --color-dark-brown: #5A5656;
    --color-light-black: #333333;
    --bg-bright: #F7F3F0;
    --corbeau-black: #0C0F26;
    --carbon-color: #333333;
    --blonde-lace:#DAAF95;
    --light-white:#FFFFFF1A;
    --linear-gradient-primary: linear-gradient(0deg, #A68272, #A68272);
}

/* font family */

.font-family-primary {
    font-family: var(--font-family-primary);
}

/* font size */
.fs-sm {
    font-size: var(--fs-sm);
}

.fs-md {
    font-size: var(--fs-md);
}

.fs-lg {
    font-size: var(--fs-lg);
}

/* colors */
.color-white {
    color: var(--color-white);
}

.color-black {
    color: var(--color-black);
}

.bg-roebuck {
    background-color: var(--bg-roebuck);
}

.bg-bright {
    background-color: var(--bg-bright);
}

.color-dark-brown {
    color: var(--color-dark-brown);
}

.color-light-black {
    color: var(--color-light-black);
}

.corbeau-black {
    color: var(--corbeau-black);
}

.carbon-color {
    color: var(--carbon-color);
}

@media (max-width:767.98px) {
    :root {
        --fs-lg: 60px;
    }
}

@media (max-width:575.98px) {
    :root {
        --fs-lg: 43px;
        --fs-md: 36px;
    }
}