@import url(./root.css);
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.max-w-1032 {
    max-width: 1056px !important;
}

.max-w-1164 {
    max-width: 1164px !important;
}

/* line height */
.lh-100 {
    line-height: 100%;
}

.lh-120 {
    line-height: 120%;
}

.lh-150 {
    line-height: 150%;
}

/* opacity */
.opacity-70 {
    opacity: 70%;
}

.opacity-80 {
    opacity: 80%;
}

/* header */
.bg-img {
    background-image: url(../images/png/header-img.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.max-w-480 {
    max-width: 480px;
}

.mt-99 {
    margin-top: 99px;
}

.mb-28 {
    margin-bottom: 28px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-37 {
    margin-bottom: 37px;
}

.contact-btn {
    padding: 25px 50px;
    border-radius: 127px;
    border: 1px solid var(--color-white);
    transition: all 200ms linear;
}

.contact-btn:hover {
    background-color: var(--color-white) !important;
    color: var(--color-brown) !important;
}

/***** Pioneering *****/
.about-btn {
    padding: 5px 20px;
    border-radius: 31px;
    border: 1px solid var(--color-white);
    transition: all 200ms linear;
}

.mtn-2 {
    margin-top: -2px;
}

.about-btn:hover {
    background-color: var(--color-white) !important;
    color: var(--color-brown) !important;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-28 {
    margin-bottom: 28px;
}

.max-w-577 {
    max-width: 577px;
}

.max-w-594 {
    max-width: 594px;
}

.max-w-471 {
    max-width: 471px;
}

.pt-85 {
    padding-top: 85px;
}

.pb-62 {
    padding-bottom: 62px;
}

/***** slider *****/
.pt-64 {
    padding-top: 64px;
}

.pb-162 {
    padding-bottom: 162px;
}

.slider-1 .slick-track {
    display: flex !important;
    gap: 56px !important;
}

/***** meet with our team *****/
.mb-20 {
    margin-bottom: 20px;
}

.pt-108 {
    padding-top: 108px;
}

.pt-44 {
    padding-top: 44px;
}

.max-w-361 {
    max-width: 361px;
}

.border-radius-4 {
    border-radius: 4px;
}

.img-box {
    width: 68px;
    height: 68px;
    background: linear-gradient(0deg, #A68272, #A68272);
    border-radius: 1.66px;
}

.remove-box {
    width: 68px;
    height: 68px;
    background: white;
    border-radius: 1.66px;
    position: absolute;
    top: 13px;
    left: 13px;
}

.left-13 {
    left: 13px;
}

.top-13 {
    top: 13px;
}

.gap-13 {
    gap: 13px;
}

.pb-185 {
    padding-bottom: 185px;
}

.bio-card {
    background-color: var(--bg-roebuck);
    padding: 0 35px;
    border-radius: 4px;
    max-width: 361px;
    width: 100%;
    height: 100%;
}

.gap-38 {
    gap: 38px;
}

.cursor-pointer {
    cursor: pointer;
}

.slider-2 .slick-track {
    display: flex !important;
    gap: 28px;
}

.bg-img-4 {
    background-image: url(../images/png/let-together-bg-img.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

/***** Invest cryptocurrency *****/
.max-w-738 {
    max-width: 738px;
}

.pb-218 {
    padding-bottom: 218px;
}

.pb-44 {
    padding-bottom: 44px;
}

.section-5-box {
    max-width: 636px;
    width: 100%;
    background: #DFBCA6;
    border: 3px solid #A68272;
    border-radius: 17px;
    border-width: 3px;
    padding: 10px 13px;
}

.section-5-bg-img {
    background-image: url(../images/png/section-5-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    padding-left: 12px;
    padding-right: 12px;
}

.accordion {
    max-width: 586px;
    width: 100%;
    --bs-accordion-btn-focus-box-shadow: none !important;
    --bs-accordion-active-bg: none !important;
    --bs-accordion-btn-icon: none !important;
    --bs-accordion-btn-active-icon: none !important;
    --bs-accordion-border-width: none !important;
}

.accordion-body {
    padding-bottom: 31px !important;
    padding-top: 0 !important;
    padding-right: 33px !important;
}

.accordion-item {
    border-radius: 120px;
}

.max-w-419 {
    max-width: 419px;
}

.mt-12 {
    margin-top: 12px;
}

/* Institutional Asset */
.section-6-box {
    max-width: 1144px;
    border-radius: 16px;
    background: linear-gradient(0deg, #A68272, #A68272);
    padding: 45px 5px 45px 28px;
}

.left-33 {
    left: -33%;
}

.right-33 {
    right: -33%;
}

.max-w-512 {
    max-width: 512px;
}

.max-w-491 {
    max-width: 491px;
}

.max-w-486 {
    max-width: 486px;
}

.max-w-540 {
    max-width: 540px;
}

.mb-60 {
    margin-bottom: 60px;
}

.pb-139 {
    padding-bottom: 139px;
}

/***** Let’s together *****/
.max-w-735 {
    max-width: 735px;
}

.max-w-675 {
    max-width: 675px;
}

.mb-93 {
    margin-bottom: 93px;
}

.mb-9 {
    margin-bottom: 9px;
}

.gap-23 {
    gap: 23px;
}

.mb-35 {
    margin-bottom: 35px;
}

.pb-158 {
    padding-bottom: 158px;
}

.parent-box {
    max-width: 838px;
    border-radius: 17px;
    background: #FFFFFF;
    border: 3px solid #A68272;
    padding: 38px 39px;
}

.child-box {
    max-width: 365px;
    border-radius: 16px;
    background: #FFFFFF;
    border: 1px solid #000000;
    padding: 20px 23px;
}

.bg-img-3 {
    background-image: url(../images/png/let-together-bg-img.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: right;
}

.small-box {
    width: 73px;
    height: 73px;
    border-radius: 14px;
    background: linear-gradient(0deg, #A68272, #A68272);
    box-shadow: 0px 4px 31.4px 0px #DAAF95;
}

/***** footer *****/
.bg-img-2 {
    background-image: url(../images/png/footer-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.pt-60 {
    padding-top: 60px;
}

.max-w-401 {
    max-width: 401px;
}

.mb-25 {
    margin-bottom: 25px;
}

.footer-circle {
    width: 40px;
    height: 40px;
    border-radius: 102px;
    background: linear-gradient(0deg, #A68272, #A68272);
    backdrop-filter: blur(60.29999923706055px);
    transition: all 200ms linear;
}

.footer-circle:hover{
    transform: scale(1.1);
}

.gap-11 {
    gap: 11px;
}

.mb-50 {
    margin-bottom: 50px;
}

.py-18 {
    padding-top: 18px;
    padding-bottom: 18px;
}

.bottom-circle {
    bottom: 0;
    left: 0;
}

.top-circle {
    top: 0;
    right: 0;
}

.line {
    border-top: 1px solid #FFFFFF1A;
}

.footer-link {
    transition: all 200ms linear;
}

.footer-link:hover {
    color: var(--color-tiny-calf) !important;
}

@media (max-width:991.98px) {
    .pt-108 {
        padding-top: 44px;
    }
}

@media (max-width:575.98px) {
    .max-w-594 {
        max-width: 335px;
    }

    .max-w-577 {
        max-width: 333px;
    }

    .gap-23 {
        gap: 14px;
    }

    .child-box {
        padding-left: 8px;
        padding-right: 8px;
    }

    .section-6-box {
        padding: 39px 20px;
    }

    .section-6 .container,
    .container-fluid,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        --bs-gutter-x: 0 !important;
    }

    .max-w-480 {
        max-width: 240px;
    }

    .contact-btn {
        width: 100%;
    }
}

@media (max-width:767.98px) {
    .parent-box {
        background: transparent;
        border-color: transparent;
        padding: 0 12px;
    }

    .bg-img-3 {
        background-size: cover;
    }

    .bio-card {
        padding: 0px;
    }
}